* {
  align-items: center;
  width: auto;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.5;
}

.navigateur:hover {
  background-color: rgb(2, 67, 67);
  border-radius: 15px 0px 15px 0px;
}
/*************** HEADER ***************/

header {
  background-color: rgb(18, 55, 78);
  display: flex;
  height: 170px;
  justify-content: space-between;
}
i {
  font-size: 25px;
  padding: 10px;
}
.icon {
  display: flex;
  flex-direction: column;
}
#logo2 {
  padding: 10px;
}

h1 {
  color: rgb(129, 152, 221);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
}

/*************** END HEADER ***************/

/*************** NAV ***************/
nav {
}

ul {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  background-color: rgb(198, 235, 235);
  list-style-type: none;
}

.navigateur {
  border: 4px solid white;
  background-color: rgb(78, 141, 142);
  border-radius: 15px 0px 15px 0px;
  height: 30px;
  width: auto;
  padding: 3px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(216, 248, 248);
}
/*************** END NAV ***************
/**************BODY********************/
body {
  align-items: center;
}
/***************END-BODY***************/
/*************** MAIN ***************/

.titre {
  height: 30px;
  font-size: 30px;
  padding: 20px 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
main {
  background-color: rgb(120, 157, 155);
  height: 800px;
  width: 1000px;
  align-items: center;
  margin: auto;
}

.basedumenu {
  height: 555px;
  width: 60%;
  background-color: #88b5b2;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid #73ad21;
  text-align: center;
}

main > .basedumenu {
  margin-left: 180px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
a:hover {
  color: #ff00ff;
}

.custom-file-input {
  display: none;
}

.custom-file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.custom-file-label:hover {
  background-color: #45a049;
}

.custom-file-input:focus + .custom-file-label {
  outline: 2px solid #4caf50;
  outline-offset: -2px;
}

.fichier > {
  display: flex;
  justify-content: space-between;
}

/*************** END MAIN ***************/

/*************** ASIDE LEFT ***************/

/*************** END ASIDE LEFT***************/

/*************** SECTION 2 ***************/

/*************** END SECTION 2 ***************/

/*************** ASIDE RIGHT ***************/

/*************** END ASIDE RIGHT ***************/

/**************page POSITION***************/
h2 {
  font-family: serif;
  font-size: 35px;
  padding: 15px;
}

p {
  margin-top: 80px;
}

#position {
  background-color: #e68f15;
  width: 600px;
  height: 300px;
  margin-left: 150px;
}

.square1 {
  background-color: #15e62a;
  position: absolute;
  top: 60px;
  left: 260px;
  width: 200px;
  height: 100px;
  border: 3px solid #73ad21;
}
/*************PAGE STRUCTURE**************/

.struc {
  height: 300px;
  width: 840px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.uno {
  height: 250px;
  width: 100%;
  background-color: darksalmon;
}

.dos {
  height: 70px;
  width: 100%;
  background-color: rgb(87, 99, 99);
}

/*************** TEXTE ***************/

texte {
  min-height: 360px;
  width: 860px;
  margin: auto;
  display: block;
  background-color: rgba(151, 151, 152, 0.679);
  padding: 10px 10px 10px 10px;
}

t {
  width: 80%;
  height: 90%;
}

/*************** SELECTEUR ***************/

.pink {
  color: rgb(243, 156, 171);
}

.red {
  color: red;
}
.black {
}

.orange {
  color: #e68f15;
}

.b {
  color: rgb(139, 59, 38);
}
.bleu {
  color: dodgerblue;
}

.c {
  color: #79e153;
}

e {
  color: #26b12b;
}
cteur {
  min-height: 360px;
  width: 860px;
  margin: auto;
  display: block;
  background-color: rgba(151, 151, 152, 0.679);
  padding: 25px;
}
/*************** FOOTER ***************/
footer {
  width: 100%;
  background-color: rgb(78, 141, 142);
  text-align: right;
}
/*************** END FOOTER ***************/

/*************** SECTION 3 ***************/
title {
  font-size: 30px;
}

/*************** image ***************/

mage {
  min-height: 360px;
  width: 860px;
  margin: auto;
  display: block;
  background-color: rgba(151, 151, 152, 0.679);
}

.fond {
  width: 100%;
  padding: 10px;
}

sectionim {
  display: block;
  background-image: url("fond.jpg");
  width: 100%;
  height: 650px;
}

sectionim > p {
  background-color: rgb(169, 172, 175);
  width: 700px;
  min-height: 290px;
  opacity: 0.7;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
  margin: auto;
  position: relative;
  top: 110px;
}

sectionmage {
  min-height: 450px;
  width: 860px;
  margin: auto;
  display: block;
  background-color: rgba(151, 151, 152, 0.679);
}

.double {
  margin: auto;
  display: flex;
}

#tour {
  margin: auto;
  display: flex;
}

#pont {
  margin: auto;
  border: 2px solid white;
  box-shadow: 5px 5px lightblue;
}
/*************** endMAGES ***************/

/*************** SECTION 3 ***************/
/*************** MEDIAQUERY ***************/

@media (max-width: 1400px) {
  header {
    background-color: #e68f15;
  }
  header h2 {
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  header {
    background-color: #a6f28b;
  }
  .logo1 {
    display: none;
  }
  .logo2 {
    display: inline;
  }
  header h2 {
    font-family: "Roboto-Black";
  }
}

/*************** END MEDIAQUERY ***************/
