* {
  align-items: center;
  width: auto;
}

/*************** HEADER ***************/

header {
  background-color: rgb(18, 55, 78);
  display: flex;
  height: 170px;
  justify-content: space-between;
}
i {
  font-size: 25px;
  padding: 10px;
}
.icon {
  display: flex;
  flex-direction: column;
}
#logo2 {
  padding: 10px;
}

h1 {
  color: rgb(129, 152, 221);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
}

/*************** END HEADER ***************/

/*************** NAV ***************/
ul {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  background-color: rgb(198, 235, 235);
  list-style-type: none;
}

.navigateur {
  border: 2px solid rgb(255, 254, 254);
  background-color: rgb(78, 141, 142);
  border-radius: 15px 0px 15px 0px;
  height: 30px;
  width: auto;
  padding: 3px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(216, 248, 248);
}
/*************** END NAV ***************
/**************BODY********************/
body {
  align-items: center;
}
/***************END-BODY***************/
/*************** MAIN ***************/

.titre {
  height: 30px;
  font-size: 30px;
  padding: 20px 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
main {
  background-color: rgb(120, 157, 155);
  height: 800px;
  width: 1000px;
  align-items: center;
  margin: auto;
}

.basedumenu {
  height: 555px;
  width: 60%;
  background-color: #88b5b2;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid #73ad21;
}

il {
  height: 85px;
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px;
  margin-top: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input {
  width: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
a:hover {
  color: #ff00ff;
}
/*************** END MAIN ***************/

/*************** ASIDE LEFT ***************/

/*************** END ASIDE LEFT***************/

/*************** SECTION 1 ***************/

/*************** END SECTION 1 ***************/

/*************** SECTION 2 ***************/

/*************** END SECTION 2 ***************/

/*************** SECTION 3 ***************/

/*************** END SECTION 3 ***************/

/*************** ASIDE RIGHT ***************/

/*************** END ASIDE RIGHT ***************/

/*************** FOOTER ***************/
footer {
  width: 100%;
  background-color: rgb(78, 141, 142);
  text-align: right;
}
/*************** END FOOTER ***************/
/**************page POSITION***************/
h2 {
  font-family: serif;
  font-size: 35px;
  padding: 15px;
}

p {
  margin-top: 80px;
}

#position {
  background-color: #e68f15;
  width: 600px;
  height: 300px;
  margin-left: 150px;
}

.square1 {
  background-color: #15e62a;
  position: absolute;
  top: 60px;
  left: 260px;
  width: 200px;
  height: 100px;
  border: 3px solid #73ad21;
}
/*************** MEDIAQUERY ***************/

@media (max-width: 1400px) {
  header {
    background-color: #e68f15;
  }
  header h2 {
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  header {
    background-color: #a6f28b;
  }
  .logo1 {
    display: none;
  }
  .logo2 {
    display: inline;
  }
  header h2 {
    font-family: "Roboto-Black";
  }
}

/*************** END MEDIAQUERY ***************/
